* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
body {
    background-color: #ffffff;
}
header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
header .header-logo{
    width: 200px ;
    margin-top: 50px;

}
header .header-logo img{
    width: 100%;

}
